.Salary-Calculator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 35vh;
    background-color: #85BB65;;
}
.Salary-input {
    color: #084f09; /* Sets text color */
    font-weight: bold; /* Makes the text bold */
    font-size: 1.25rem;
}

.dollar-icon {
    width:30px;  /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  }